.card {
    width: 270px;
    background: #FDFDFD;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}

.card__info {
    display: grid;
    grid-template-columns: 206px 16px;
    grid-template-rows: 16px 13px;
    margin-top: 14px;
    margin-left: 12px;
    padding-bottom: 14px;
    column-gap: 24px;
    row-gap: 10px;
}

.card__image {
    width: 270px;
    height: 151px;
    border-radius:  10px 10px 0 0;
    object-fit: cover;
}

.card__name {
    margin: 0;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.card__duration {
    margin: 0;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    font-size: 11px;
    line-height: 13px;
    color: #A0A0A0;
}

.card__select {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 16px;
    height: 16px;
    box-sizing: border-box;
    border-radius: 50px;
    border: 3px solid #fff;
    background-color: #F9F9F9;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.09);
}

.card__select_active {
    background-color: #2BE080;
}