.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 410px;
}

.profile__title {
    margin: 0;
    margin-bottom: 123px;
    text-align: center;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}

.profile__label {
    display: flex;
    justify-content: space-between;
}

.profile__name {
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
}

.profile__input {
    width: 130px;
    font-size: 11px;
    line-height: 13px;
    text-align: right;
    border: none;
    outline: none;
}

.profile__input::placeholder {
    color: #000;
}

.profile__input-error {
    font-size: 10px;
    line-height: 12px;
    color: #EE3465;
    margin-top: 10px;
    width: 200px;
    align-self:flex-end;
    text-align: right;
}

.profile__message {
    margin: 0;
    margin-top: 100px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 13px;
    color: #2BE080
}

.profile__button {
    width: 410px;
    font-size: 13px;
    line-height: 16px;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    margin-bottom: 16px;
}

.profile__button:disabled {
    cursor: default;
}

.profile__button:hover:enabled {
    opacity: 0.8;
}

.signout-button {
    width: 410px;
    font-size: 13px;
    line-height: 16px;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    color: #EE3465;
    margin-bottom: 70px;
}

.signout-button:hover {
    opacity: 0.8;
}

@media screen and (max-width: 465px) {
    .profile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 260px;
    }
    .profile__form {
        width: 260px;
        margin: 0 auto;
    }
    .profile__input {
        width: 120px;
    }
    .profile__button {
        width: 260px;
    }
    .signout-button {
        width: 260px;
    }
}
