.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 410px;
}

.profile__title {
    margin: 0;
    margin-bottom: 123px;
    text-align: center;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}

.profile__label {
    display: flex;
    justify-content: space-between;
}

.profile__name {
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
}

.profile__input {
    width: 130px;
    font-size: 11px;
    line-height: 13px;
    text-align: right;
    border: none;
    outline: none;

}

.profile__input::placeholder {
    color: #000;
}

.profile__button {
    width: 410px;
    margin-top: 220px;
    font-size: 13px;
    line-height: 16px;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

.signout-button {
    width: 410px;
    font-size: 13px;
    line-height: 16px;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    color: #EE3465;
    margin-top: 16px;
    margin-bottom: 70px;
}
