.form {
    display: flex;
    flex-direction: column;
}

.form__label {
    display: flex;
    flex-direction: column;
    font-size: 10px;
    line-height: 12px;
    color: #A0A0A0;
}

.form__input {
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: none;
    outline: none;
    height: 46px;
    background: #F9F9F9;
    border-radius: 8px;
    font-size: 13px;
    line-height: 16px;
}

.form__input-error {
    font-size: 10px;
    line-height: 12px;
    color: #EE3465;
    margin-bottom: 10px;
}

.form__message {
    margin: 0;
    margin-top: 69px;
    text-align: center;
    font-size: 13px;
    color: #2BE080
}

.form__message_error {
    margin: 0;
    margin-top: 69px;
    text-align: center;
    font-size: 13px;
    color: #FF004C
}

.form__button {
    height: 45px;
    background: #2BE080;
    border-radius: 3px;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    border: none;
    margin-top: 15px;
    margin-bottom: 16px;
    cursor: pointer;
}

.form__button:disabled {
    background: #F2F2F2;
    cursor: default;
}

.form__signin {
    font-size: 14px;
    line-height: 17px;
    color: #A0A0A0;
    margin: 0 auto;
    margin-bottom: 70px;
}

.form__signin-link {
    font-size: 14px;
    line-height: 17px;
    color: #2BE080;
}

@media screen and (max-width: 465px) {
    .form__input {
        width: 260px;
        margin: 10px auto;
    }

    .form__label {
        margin: 0 auto;
    }
}