.header {
    padding-top: 18px;
    padding-bottom: 93px;
    background-color: #5C5C5C;
}

.header-movies {
    padding-top: 18px;
    padding-bottom: 93px;
}

.header__container {
    display: flex;
    justify-content: space-between;
}