.checkbox-container {
    display: flex;
    justify-content: center;
    margin-bottom: 119px;
}

.checkbox__label {
    display: inline-block;
    position: relative;
    padding-left: 50px;
    cursor: pointer;
}

.checkbox__label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox__label input:checked ~ .checkbox__checkmark {
    background-color: #2BE080;
}

.checkbox__label input:checked ~ .checkbox__checkmark:after {
    left: 21px;
}
  .checkbox__label:hover input ~ .checkbox__checkmark {
    background-color: #EBEBEB;
}

.checkbox__label:hover input:checked ~ .checkbox__checkmark {
    background-color: #2BE080;
}

.checkbox__label .checkbox__checkmark {
    position: absolute;
    top: 1px;
    left: 0;
    height: 22px;
    width: 40px;
    background-color: #EBEBEB;
    transition: background-color 0.25s ease;
    border-radius: 11px;
}

.checkbox__label .checkbox__checkmark:after {
    content: "";
    position: absolute;
    left: 3px;
    top: 3px;
    width: 16px;
    height: 16px;
    display: block;
    background-color: #F5F5F5;
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08);
    border-radius: 50%;
    transition: left 0.25s ease;
}

.checkbox__body {
    color: #000;
    line-height: 1.5;
    font-size: 14px;
    transition: color 0.25s ease;
}