.footer {
    position: relative;
    margin-bottom: 20px;
}

.footer__title {
    margin: 0;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #A0A0A0
}

.footer__year {
    display: inline-block;
    margin: 0;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
}

.footer__links {
    display: inline-block;
    position: absolute;
    right: 0;
}

.footer__link {
    margin-left: 20px;
    font-size: 13px;
    line-height: 16px;
    text-align: right;
    text-decoration: none;
    color: #000;
}